body{
  display: flex;
}

img {
  width: 200px;
  height: 200px;
  margin: 32px;
}

.item {
  display: flex;
  margin: 32px;
}

.itemDetails {
  margin: 32px;
  width: 400px;
}

.itemName{
  align-self: center;
}